/* ==================================================================
    Header and Nav
================================================================== */

header {
  text-align: right;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}

header .blog-name {
  width: 100%;
  display: inline-block;
  text-align: left;
  font-size: 18px;
  font-family: "Lucida Console", Monaco, monospace;
  padding-top: 10px;
}

header .blog-name a {
  color: #444;
  text-decoration: none;
}

header li a:hover {
  color: black;
  border-bottom: 2px solid black;
}

#menu-icon {
  display: none;
}

@media (max-width: 480px) {
  header {
    padding-left: 6%;
    padding-right: 6%;
  }
}

@media (min-width: 481px) {
  header {
    padding-left: 12.5%;
    padding-right: 12.5%;
  }
}

/* wide display: enforce maximum width of header to match content */
@media (min-width: 940px) {
  header {
    width: 705px;
    margin-left: auto;
    margin-right: auto;
  }
}

/*
medium display: nav goes under name
*/
@media (max-width: 760px) {
  header { display: block; }

  header .blog-name {
    display: block;
    width: 100%;
    padding-bottom: 10px;
  }
}

/*
narrow display: collapse the header (don't show the menu items)
instead, display a burger menu.
*/
@media (max-width: 500px) {
  header {
    height: 35px;
    display: flex;
    align-items: center;
  }

  header .blog-name {
    display: inline-block;
    width: 100%;
  }

  header li a { border-bottom: none; }
  header li a:hover { border-bottom: none; }

  #menu-icon {
    display: inline-block;
    margin-right: 10px;
    margin-top: 5px;
  }
}

table {
  line-height: 1em;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  text-align: center;
  margin-bottom: 1.5em;
}

tr:first-of-type {
  background: #eae9f4;
}

tr:first-of-type > th {
  text-align: center;
}

tr,
th,
td {
  padding: 10px;
  border: 1px solid lightgray;
}

table tbody tr td {
  border: 1px solid lightgray;
}
